__pycache__/
*.py[cod]
*$py.class
*.so

build/
dist/
.eggs/
*.egg-info/
*.egg
wheels/
share/python-wheels/
MANIFEST

.venv/
venv/
env/
ENV/

*.log
pip-log.txt
pip-delete-this-directory.txt

.pytest_cache/
.tox/
.nox/
.coverage*
htmlcov/
nosetests.xml
coverage.xml
.hypothesis/
.mypy_cache/
.dmypy.json
prof/

.idea/
.vscode/
*.sublime-*

.DS_Store
Thumbs.db
*~
